button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: double;
  font-size: 15px;
  font-family: $font-family;
}


#startGame {
  background-color: $green;
  color: black;
  margin: 30px;
}

#computerPlayer {
  background-color: $orange;
  width: 250px;
  position: relative;
  bottom: 25px;
}

button[name="start"] {
  background-color: $red;
  position: absolute;
  top: 700px;
  width: 200px;
}

button[name="next"] {
  background-color: $blue;
}
button[name="previous"] {
  background-color: $blue;
}

button[name="attack1"] {
  background-color: $red;
  width: 40%;
  margin: 5px 5%;
}
button[name="attack2"] {
    background-color: $orange;
  width: 40%;
  margin: 5px 5%;
}
button[name="attack3"] {
  background-color: $green;
  width: 40%;
  margin: 5px 5%;
}
button[name="attack4"] {
  background-color: $blue;
  width: 40%;
  margin: 5px 5%;
}

button[name="playAgain"] {
  background-color: white;
  position: absolute;
  top: 60%;
  left: 46%;
}
