/* this is the start page */
body {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  text-align: center;
  height: 100px;
  background-color: yellow;
  line-height: 100px;
}

section {
  width: 70%;
  height: 700px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: rgb(250 231 251);
}

.startLogo {
  width: 60%;
  display: block;
  margin: 20px auto;
}

.startAnimationBox {
  position: absolute;
  width: 15%;
  height: 150px;
  left: 35%;
  top: 360px;
  background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: openingscreen 12s infinite;
    animation-timing-function: steps(1, end);
}

@keyframes openingscreen{
    0%{
        background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_026.gif');
    }
    20%{
        background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_091.gif');
    }
    40%{
        background-image: url('https://danielsfunny.files.wordpress.com/2017/11/charmander.png?w=640');
    }
    60%{
        background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_104.gif');
    }
    80%{
        background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_091.gif');
    }
    100%{
        background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_026.gif');
    }
}

.startplayer {
  position: relative;
  left: 50%;
  top: 30px;
}

form {
  position: relative;
  height: 260px;
  top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.playerNameInput {
  display: inline-block;
  width: 40%;
  font-size: 20px;
  text-align: center;
}

input {
  width: 80%;
  height: 50px;
  margin: 30px;
  text-align: center;
  font-size: 20px;
}


#startGame {
  height: 50px;
  width: 50px;
  background-color: green;
  color: white;
  margin: 30px;
}

#computer {
  height: 50px;
  width: 80%;
  background-color: yellow;
}

/* this is the choose codemon page */
.characterselection {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
}

.codemonSelection {
  width: 50%;
  border: 2px solid black;
}

.codemonWrapper {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.selectionScreenName {
  margin: 10px;
  width: 100%;
}

.codemonImageP2 {
  width: 100%;
  height: 300px;
  background-size: cover;
}
.codemonImageP1 {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.codemonStats {
  width: 100%;
  background-color: pink;
  height: 100px;
}

.yavaScript {
  background-image: url('http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_026.gif');
  background-size: cover;
}

button[name="start"] {
  background-color: red;
  position: absolute;
  top: 700px;
  height: 100px;
  width: 20%;
}


span {
  font-size: 30px;
  color: blue;
}

p {
  font-size: 30px;
}

.battle {
  width: 90%;
  height: 800px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.playerScreen {
  width: 50%;
  height: 600px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inactive {
  background-color: grey;
}

.imageHolder{
  width: 100%;
  height: 400px;
  border: 2px solid black;
}
.HPChart {
  width: 100%;
  height: 100px;
  border: 2px solid black;
}

.messageBox {
  width: 100%;
  height: 200px;
  border: 2px solid black;
  position: absolute;
  top: 640px;
}

button {
  height: 40px;
  width: 60px;
}

.messageBox {
  font-size: 40px;
  color: blue;
}



.hidden {
  display: none;
}
