.startAnimationBox {
  position: relative;
  width: 20%;
  height: 200px;
  left: 40%;
  display: inline-block;
  animation: openingscreen 12s infinite;
  animation-timing-function: steps(1, end);
}

@keyframes openingscreen{
    0%{
        background: url(./images/codemon-Htmel-Front.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    20%{
        background: url(./images/codemon-Yavascript-Front1.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    40%{
        background: url(./images/codemon-Csmess-Front.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    60%{
        background: url(./images/codemon-Yavascript-Front.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    80%{
      background: url(./images/codemon-Htmel-Front.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    100%{
      background: url(./images/codemon-Csmess-Front.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
}

.battleIntro {
  width: 70%;
  left: 15%;
  height: 700px;
  background-color: black;
  position: relative;
  z-index: 5;
}

.battleIntrologo {
  width: 50%;
  position: relative;
  left: 25%;
  top: 30%;
  animation: spin;
  animation-duration: 5s;
  animation-iteration-count: 5;
  transition-timing-function: ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.screencolor {
  height: 20px;
  width: 30px;
  background-color: skyblue;
  position: relative;
  top: 17px;
  left: 15px;
  animation: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {
    background-color: skyblue;
  }
  25% {
    background-color: $yellow;
  }
  50% {
    background-color: $red;
  }
  75% {
    background-color: $green;
  }
  100% {
    background-color: skyblue;
  }
}
